.documentItem {
   width: 150px;
   margin-left: 20px;
   margin-top: 20px;
   padding: 5px;
   float:left;
   position:relative;
}

.documentItemBottomPanel{
	width: 100%;
	background-color: #cdbfe3;
	border-color: #6f5499;
	height: 24px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 5px;
	padding-top: 3px; 
	border-top-color: rgb(170, 138, 204);
	border-top-style: solid;
	border-top-width: 1px;
}

.documentItemBottomPanel p{
	opacity: 0.4;
	margin-right: 5px;
}

.documentItemBottomPanel p:hover{
	opacity:1;
}

.documentItem hr{
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #00B5E2;
}

.documentItemPencilIcon{
	font-size: 80px;
	text-align: center;
	width: 100% !important;
	opacity:0.4;
}

.documentItemPencilIcon:hover{
	opacity:1;
}

.documentItemTitle{
	font-family: 'Montserrat Alternates', sans-serif;
	padding: 0px;
	margin: 0px;
}

.documentItemTimestamp{
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 9pt;
	text-align: center;
}

.userItemDisplayName{
	margin: 0px;
	float: left;
	font-family: 'Montserrat Alternates', sans-serif;
}

.userItemGoIcon{
	margin: 0px;
	float: right;
}

.userItem{
	padding: 5px;
	border-color: black;
	border-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 10px;
}

.notificationsBox{
	float: right;
	width: 280px;
	padding-right: 20px;
}

.notificationItem{
	background-color: #022449;
	padding: 10px;
	color: white;
	position: relative;
	right: -280px;
	-webkit-animation: notificationSlide 0.5s forwards;
    -webkit-animation-delay: .75s;
    animation: notificationSlide 0.5s forwards;
    animation-delay: .75s;
}

.okBtn{
	float: left;
	margin-right: 10px;
}

.notificationItemText{
	margin: 0px;
}

.notificationsHeader{
	height: 70px;	
}

.notificationsHeader h1{
	float: left;
	width: 270px;
}

#totalNotificationsHeader{
	float: right;
	margin-right: 20px;
}

@-webkit-keyframes notificationSlide {
    100% { right: 0; }
}

@keyframes notificationSlide {
    100% { right: 0; }
}

.gettingStartedJumbotron{
	width: 60%; /* fallback if needed */
  	width: calc(100% - 280px);
  	background-color: inherit;
  	opacity: 0;
    -moz-animation: fadeInAnim 2s forwards; /* Firefox */
    -ms-animation: fadeInAnim 2s forwards; /* Internet Explorer */
    -o-animation: fadeInAnim 2s forwards; /* Opera */
    -webkit-animation: fadeInAnim 2s forwards;
    animation: fadeInAnim 2s forwards;
     -webkit-animation-delay: .75s;
     animation-delay: .75s;
    position: absolute;
    left:0px;
}

.completeProfileJumbotron{
	display: none;
	width: 100%;
  	background-color: inherit;
  	opacity: 0;
    -moz-animation: fadeInAnim 2s forwards; /* Firefox */
    -ms-animation: fadeInAnim 2s forwards; /* Internet Explorer */
    -o-animation: fadeInAnim 2s forwards; /* Opera */
    -webkit-animation: fadeInAnim 2s forwards;
    animation: fadeInAnim 2s forwards;
     -webkit-animation-delay: .75s;
     animation-delay: .75s;
    left:200%;
    text-align: center;
    padding-top: 0px;
}

.completeProfileJumbotron h1{
	margin-bottom:20px;
}

.completeProfileJumbotron .input-group{
	margin-bottom:20px;
}

.bootstrapSelect{
	background-color: white;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border: 1px solid #cccccc;
	color: #555555;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 18px;
	width: 100%;
}

.onBoardingDiv{
	float: left;
	overflow-y:scroll;
	width: 60%; /* fallback if needed */
	width: calc(100% - 290px);
	height: 100%;
}


@-webkit-keyframes fadeInAnim {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeInAnim {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeInAnim {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeInAnim {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.profileImage{
	margin-bottom: 10px;
	opacity: 0.6;
	float: left;
	width: 100px;
}

.profileImage:hover{
	margin-bottom: 10px;
	opacity: 1;
}

.changeProfileDiv{
	width:100%;
	display:inline-block;
}

.imageFileUploader{
	width: 100px;
	height: 100px;
	position: relative;
	right: 105px;
	float: left;
	opacity: 0;
}

.newsFeedDiv{
	float: left;
	overflow-y: scroll;
	opacity: 0;
	height: 100%;
	width: 60%; /* fallback if needed */
  	width: calc(100% - 290px);
  	  -moz-animation: fadeInAnim 2s forwards; /* Firefox */
    -ms-animation: fadeInAnim 2s forwards; /* Internet Explorer */
    -o-animation: fadeInAnim 2s forwards; /* Opera */
    -webkit-animation: fadeInAnim 2s forwards;
    animation: fadeInAnim 2s forwards;
     -webkit-animation-delay: .75s;
     animation-delay: .75s;
     padding: 20px;
     margin-right:10px;
}

.newsFeedDiv::-webkit-scrollbar{
	display: none;
}



.binder-tab-content{
	height: 100%;
}

.dashboard-tab-pane{
	height: 100%;
}



.feedItem{
	min-width: 500px;
	display: inline-block;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 5px;
	border: rgb(209, 209, 209) solid 1px;
	border-top-left-radius: 10px;
	padding-bottom: 0px;
	min-height:62px;
}

.feedItemProfilePic{
	width: 60px;
	margin-right: 10px;
	float: left;
	height: 60px;
	overflow-x: hidden;
	border-top-left-radius: 10px;
	border: rgb(255, 255, 255) 1px solid;
}



.feedItemOwnerName{
	color: #6A8EB4;
	font-weight: bold;
	display: inline-block;
	color: rgb(120, 137, 206)
}

.feedItemInnerText{
	display: inline-block;
}

.feedItemProfilePic img{
	height: 100%;
}

.feedItemText{
	display: inline-block;
	padding-top: 5px;
}

.feedItemText h3{
	margin-bottom: 2px;
}

.feedItemBtn{
	float: left;
	margin-left:10px;
}

#feedItemUpvoteBtn{
	color: rgb(22, 78, 22);
}

#feedItemDownvoteBtn{
	color: rgb(207, 20, 20);
}

.votesDiv{
	background-color: rgb(214, 214, 214);
	height: 20px;
	border-radius: 5px;
	float: left;
	padding-right: 10px;
}

.hidden{
	display: none;
}

.documentsListDiv{
	display: inline-block;
	overflow-y: scroll;
	height: 100%;
	width: 100%;
}

#docs{
	height: 100%;
}

.commentsDropdownButton{
	float:right;
	margin: 0px;
	padding-right: 5px;
	height: 20px;
	color: gray;
}

.commentsDropdownButton p{
	float:left;
	padding-right: 5px;
	height: 20px;
}

.commentsDropdownButton .glyphicon{
	line-height: 15px;
}

.commentsDropdownButton:hover{
	color:black;
}

.commentsDiv{
	width: 100%;
	background-color:white;
	border-top: 1px dotted rgb(184, 180, 180);
	padding-bottom: 5px;
	display: none;
}

.feedItemNavBar{
	height: 25px;	
}

.postCommentImage{
	width: 30px;
	float: left;
	margin-left: 10px;
	display: inline-block;
	margin-top: 5px;
}

.postCommentText{
	width: 380px;
	min-height: 40px;
	display: inline-block;
	margin: 0px;
	padding: 5px;
	margin-left: 10px;
	margin-top: 5px;
	float: left;
	margin-bottom: 5px;
	width: calc(100% - 90px);
}

[contenteditable=true]:empty:before {
	content: attr(placeholder) !important;
}


.postCommentSubmit{
	color: green;
	margin-top: 5px;
	margin-right: 10px;
	float: right;
}

.commentItem{
	display:inline-block;
	width: 410px;
}

.commentsList{
	display: inline-block;
	width: 100%;
	border-bottom: 1px dotted rgb(184, 180, 180);
}

.listCommentImage{
	width: 30px;
	float: left;
	margin-left: 10px;
	display: inline-block;
	margin-top: 5px;
}

.listCommentText{
	min-height: 40px;
	display: inline-block;
	margin: 0px;
	padding: 5px;
	margin-left: 10px;
	margin-top: 5px;
	float: left;
	margin-bottom: 5px;
}