.documentItem {
   width: 150px;
   margin-left: 20px;
   margin-top: 20px;
   padding: 5px;
   float:left;
   position:relative;
}

.documentItemBottomPanel{
	width: 100%;
	background-color: #cdbfe3;
	border-color: #6f5499;
	height: 24px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 5px;
	padding-top: 3px; 
	border-top-color: rgb(170, 138, 204);
	border-top-style: solid;
	border-top-width: 1px;
}

.documentItemBottomPanel p{
	opacity: 0.4;
	margin-right: 5px;
}

.documentItemBottomPanel p:hover{
	opacity:1;
}

.documentItem hr{
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #00B5E2;
}

.documentItemPencilIcon{
	font-size: 80px;
	text-align: center;
	width: 100% !important;
	opacity:0.4;
}

.documentItemPencilIcon:hover{
	opacity:1;
}

.documentItemTitle{
	font-family: 'Montserrat Alternates', sans-serif;
	padding: 0px;
	margin: 0px;
}

.documentItemTimestamp{
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 9pt;
	text-align: center;
}

.userItemDisplayName{
	margin: 0px;
	float: left;
	font-family: 'Montserrat Alternates', sans-serif;
}

.userItemGoIcon{
	margin: 0px;
	float: right;
}

.userItem{
	padding: 5px;
	border-color: black;
	border-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 10px;
}

.notificationsBox{
	float: right;
	width: 280px;
	padding-right: 20px;
}

.notificationItem{
	background-color: #022449;
	padding: 10px;
	color: white;
	position: relative;
	right: -280px;
	-webkit-animation: notificationSlide 0.5s forwards;
    -webkit-animation-delay: .75s;
    animation: notificationSlide 0.5s forwards;
    animation-delay: .75s;
}

.okBtn{
	float: left;
	margin-right: 10px;
}

.notificationItemText{
	margin: 0px;
}

.notificationsHeader{
	height: 70px;	
}

.notificationsHeader h1{
	float: left;
	width: 270px;
}

#totalNotificationsHeader{
	float: right;
	margin-right: 20px;
}

@-webkit-keyframes notificationSlide {
    100% { right: 0; }
}

@keyframes notificationSlide {
    100% { right: 0; }
}