.clipboardPanel{
	height:80px;
	width:158px;
	float:left;
	border-right-style: solid;
	border-right-width:1px;
	border-right-color:rgb(156, 151, 151);
}

.formattingBar{
	padding-left:15px;
	display:table-row;
	height: 73px;
}

.btnPaste{
	float:left;
	width: 75px;
}

.btnBold{
	margin-right:5.6px;
}

.btnItalic{
	margin-right:5.6px;
}

.btnUnderline{
	margin-right:5.6px;
}

.btnStrikethrough{
	margin-right:5.6px;
}

.btnSubscript{
	margin-right:5.4px;
}

.btnCut{
width: 75px;
}

.btnCopy{
width: 75px;
}

.btnFormat{
width: 75px;
}

.imageButton{
	padding:5px;
	float:left;
	background-color: transparent;
	border: none;
}

.btnBullet{
	background-color: transparent;
	border: none;
}

.btnNumber{
	background-color: transparent;
	border: none;
}

.panelTitle{
	width:100%;
}

.rightTabsContent{
	margin-bottom:20px;
}

.fontPanel{
	float:left;
	height:73px;
	width:202px;
	padding-right:5px;
	border-right-width:1px;
	border-right-style: solid;
	border-right-color:rgb(156, 151, 151);
	margin-left:5px;
}

.paragraphPanel{
	float:left;
	height:73px;
	width:196px;
	margin-left:5px;
	padding-left:5px;
}

.paragraphPanelAlignment button{
	background-color: transparent;
	border: none;	
}

.fontPanelFontSizeSelect{
	width:42px;
	border-radius:4px;
	border-color:transparent;
	background-color: transparent;
	float:right;
}

.fontPanelfontPanelFontSelect{
	width:150px;
	border-radius:4px;
	color: black;
	border-color:#adadad;
	border-width:5px;
	background-color:transparent;
	float:left;
}



.paragraphPanelAlignment button{
	padding-top:1px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:1px;
}

.btnBullet{
	padding: 6px 6px;
	margin-bottom:3px;
}

.btnNumber{
	padding: 6px 6px;
	margin-bottom:3px;
}

.fontPanelFontColorSelect{
	margin-top:3px;
	width: 30px;
	padding: 0px;
	float:Left;
	margin-left:10px;
}

.txtChooseFontColor{
	float:left;
	margin-top:5px;
}

.fontPanelFontSelect {
        position: relative;
        height: 20px;
        cursor: pointer;
        margin-bottom:1px;
        float:left;
        width: 150px;
        color: black;
}

.fontPanelFontSelect span {
        overflow: hidden;
        margin-left:5px;
}

.fontPanelFontSelect .arrow-down {
        position: absolute;
        right: 10px;
        top: 7px;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;

        border-top: 6px solid Black;
}

.fontPanelFontSelectUl {
        list-style: none;
        width: 200px;
        background: white;
        position: absolute;
        left: 0;
        top: 54px;
}

.fontPanelFontSelectUl li {
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        cursor: pointer;
        padding: 0 10px;

        font-size: 14px;

        border-left: 1px solid #f0f0f0;
        border-right: 1px solid #f0f0f0;
}

.fontPanelFontSelectUl li:last-child {
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;

        border-bottom: 1px solid #EEEEEE;
}

.fontPanelFontSelectUl li:hover {
        background: #DDD;
}

.fontPanelFontChoose{
	height:20px;
	width:100%;
	margin-bottom:2px;
}


#colorSelector div{
	width: 20px;
	height: 20px;
	border: 1px solid #585858;
	border-radius: 5px;
}

.colorpicker{
	position: relative;
	top: 5px;
}

#colorpickerHolder .colorpicker{
	height: 0px;
}