.ruler{
	height: 15px;
	background-color: #CBD1E4; 
	position:relative;
	display: inline-block;
	margin-left: 5px;
}

.rulerArrow{
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #5E5E5E;
	font-size: 0;
	line-height: 0;
}
.rulerBox{
	margin-bottom:1px;
	background-color: #5E5E5E;
	height:3px;
}

.rulerMargin{
	position:absolute;
	top:6px;
}

.rulerMarginDarkArea{
	background-color:rgba(76, 167, 228, 0.31);
	height:15px;
	position:absolute;
}

#rulerMarginDarkAreaRight{
	float:right;
	right:0px;
}

#rulerMarginDarkAreaLeft{
	float:left;
	left:0px;
}