applications/orchestratorServiceManagement/node_modules/**/*
applications/orchestratorServiceManagement/app_codebase/node_modules
applications/orchestratorServiceManagement/app_codebase/node_modules
applications/orchestratorServiceManagement/dist/*
notoja_modules/dbService/node_modules
services/nodeRunnerService/node_modules
services/nodeRunnerService/currentApp/*
services/orchestratorService/node_modules
services/orchestratorService/ServerConfiguration.json
services/orchestratorService/build/*
services/orchestratorService/apps/orchestratorServiceManagement.tar.gz
applications/orchestratorServiceManagement/app_codebase/orchestratorServiceManagement.tar.gz
