<div class="dashboardDiv">
  <div class="twoColumn">
    <h2>
      Connected Runners
    </h2>
    <div class="connectedRunnersInner" ng-repeat="runner in runners">
      <h4>
        Runner {{ runner.id }}
      </h4>
      <ul>
        <li>
          IP Address: {{ runner.ip }}
        </li>
        <li>
          App Name: {{ runner.appName || "no name assigned" }}
        </li>
        <li>
          Last Pinged: {{ runner.ping }}
        </li>
      </ul>
      <div class="btn-group runnersBtnGroup">
        <button class="btn btn-success" ng-click="configure({{ runner.id }});">
          Configure
        </button>
        <button class="btn btn-danger" href="#terminateRunnerModal" ng-click="terminate(runner);">Terminate</button>
        <button class="btn btn-default" href="#logRunnerModal" ng-click="log(runner);">View Log</button>
      </div>
    </div>
  </div>
    <div class="twoColumn">
      <h2>
        Connected Services
      </h2>
      <div class="connectedServicesInner">
        <h3>
          Database Service
        </h3>
        <div class="connectedServicesDetInner">
        </div>
        <h3>
          Authentication Service
        </h3>
        <div class="connectedServicesDetInner">
        </div>
      </div>
    </div>
  </div>
  <hr>
  <footer>
    <p>
      version 1 alpha
    </p>
    <p>
      &copy; Notoja 2013
    </p>
  </footer>
  <!-- /modals -->
  <div id="terminateRunnerModal" class="modal hide fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
      </button>
      <h3 id="myModalLabel">
        Terminate this runner?
      </h3>
    </div>
    <div class="modal-body">
      <p>
        You are trying to terminate this runner. By doing so, you will reduce the number
        of runners available in the HA list and increase traffic to other runners. You will
        also lose any clients currently connected to this runner.
      </p>
      <div class="terminateRunnerModalRunnerInfo">
        <h4 id="terminateRunnerModalHeader">
          Runner
        </h4>
        <ul>
          <li id="terminateRunnerModalIp">
            IP Address
          </li>
          <li id="terminateRunnerModalAppName">
            App Name
          </li>
          <li id="terminateRunnerModalLastPing">
            Last Pinged:
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">
        Close
      </button>
      <button id="terminateRunnerModalTerminateButton" class="btn btn-danger">
        Terminate
      </button>
    </div>
  </div>
  <div id="logRunnerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
      </button>
      <h3 id="myModalLabel">
        Runner Log
      </h3>
    </div>
    <div class="modal-body">
      <p id="logRunnerModalLogText">
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">
        Close
      </button>
    </div>
  </div>
</div>