<head>
<title>Hive - Login</title>
<script type="text/javascript" src="javascripts/jquery-latest.js"></script>
<script type="text/javascript" src="javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="javascripts/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
<style type="text/css">

.navbar-brand{
        font-size:20pt;
        font-family: 'Lily Script One', cursive; 
      }
.navbar-inverse{
	background-color: #022449;
}

.navbar-inverse .navbar-nav  .active a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #0B3563;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #0B3563;
}


.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
	height:50px;
	min-height:0px !important;
	z-index: 10;
}

.navbar-nav{
	height:50px;
}

body{
	padding-left:0px;
	padding-right:0px;
	padding-top: 60px;
	padding-bottom: 40px;
	background-image:url('/images/brushed.png');
}
.nameField{
	float:left;
	margin:0px;
	margin-right:10px;
}
.modal-body{
	font-size:12pt;
}
.appContainer{
	margin-left:auto;
	margin-right: auto;
	border-radius:5px;
	padding:10px;
	min-height:500px;
	text-align: center;
	background-color: transparent;
}
h1{
	 font-size:20pt;
     text-align:center;
     font-family: 'Roboto Slab', serif;
}

.loginDiv{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color:transparent;
	margin-bottom: 0px;
}

.loginDiv input{
	margin-left: auto;
	margin-right: auto;
	max-width:400px;
	margin-bottom:10px;
}

.thirdPartySignin{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	cursor: pointer;
}
.googleSignInButton{
	background-image:url('/images/Red-signin-Long-base-44dp.png');
	height:33px;
	width:150px;
	background-size:150px;
}
.googleSignInButton:hover{
	background-image:url('/images/Red-signin-Long-hover-44dp.png');
}
.googleSignInButton:active{
	background-image:url('/images/Red-signin-Long-press-44dp.png');
}
.separatorBar{
	margin-bottom:5px;
	margin-top:3px;
	border-bottom: 1px dotted rgb(16, 131, 255);
	width:400px;
	height:10px;
	margin-left: auto;
	margin-right: auto;
}
.footer{
	float:left;
	text-align:center;
	background-color: #022449;
	color:white;
	width:100%;
	position: absolute;
	bottom: 0px;
}
</style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-header">
		 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Hive</a>
	</div>
</div>

<div id="appContainer" class="appContainer jumbotron">
	<form method="post" action="/login" class="loginDiv">
		<h1>Login</h1>
		<div class="separatorBar">
	</div>
		<input type="text" class="form-control" placeholder="Email Address" name="username">
		<input type="password" class="form-control" placeholder="Password" name="password">
		<button type="submit" class="btn btn-primary">Login</button>
	</form>
	<div class="separatorBar">
	</div>
	<div class="thirdPartySignin googleSignInButton" onClick="window.location = '/auth/google';">
	</div>
</div>
 <link href='http://fonts.googleapis.com/css?family=Lily+Script+One|Montserrat+Alternates|Roboto+Slab' rel='stylesheet' type='text/css'>
 <div class="footer">
        Copyright Hive, 2014
</div>
</body>
